body{
    background-color: white;
}

header{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: black;
    position: fixed;
    width: 100%;
    height: inherit;
    left: 0;
    top: 0;
    
}
.header img {
    display: flex;
    width: 7vh;
    height: 7vh;
}